/* CSS Document */
/*预约服务、进度*/
.main{}
	.guide{line-height:30px; color:#555555; font-size:14px; clear:both;}
	.guide a{ color:#555555;}
	.guide a:hover{ text-decoration:underline;color:#bc0000;}
	.sub{ overflow:hidden; margin:10px 0; min-height:600px;}
		.sub_nav{ float:left; border-top:#bf9d5b 5px solid;}
		.sub_nav h3{ font-size:20px; line-height:68px; font-weight:bold;border:#dcdcdc 1px solid; border-bottom:none;padding-left:40px;color:#555555;}
		.sub_nav ul{width:215px; border:#dcdcdc 1px solid;}
		.sub_nav ul li a{ display:block; line-height:48px; font-size:16px; padding-left:40px; color:#666666;}
		.sub_nav .sub_cur{ color:#FFF; background-color:#b4862c;}
		.text{ margin-left:260px; margin-top:50px;box-shadow:2px 2px 2px #ccc; float:left;} 
		.text h2{ font-size:18px; line-height:60px;color:#fff; font-weight:bold; background-color:#bf9d5b; text-align:center;}
		.text .for{ border:#c9c9c9 1px solid; border-top:none; padding:20px;}
		.text p{ color:#666666; overflow:hidden;font-size:14px;padding:10px 0; line-height:32px;text-align:center; width:320px; margin:0 auto;}
		.text p label{ width:75px; text-align:left; float:left; overflow:hidden; line-height:36px;}
		.text p input{ width:230px;float:left; line-height:32px; height:32px;padding:0 5px; border:#c9c9c9 1px solid;}
		.text p textarea{ width:230px;float:left; line-height:32px;padding:0 5px; border:#c9c9c9 1px solid;}
		.text .btn{ margin-left:75px; background-color:#bf9d5b; border-radius:25px; cursor:pointer;border:none; color:#FFF; font-size:14px;}
		.text .btn:hover{ background-color:#bf895b; transition:all 0.1s linear;}
		.text .inp{ width:90px;}
		.text i{ width:95px; height:32px; display:block; float:left; padding-left:5px;overflow:hidden; cursor:pointer;}
		.text i img{ width:100%; height:100%;}
/*预约服务、进度*/

/*预约成功*/
		.text h3{font-size:18px; line-height:60px;text-align:center; color:#333333; font-weight:bold;}
/*预约成功*/

/*服务介绍*/
.text1{ width:960px; margin:0 auto; overflow:hidden; float:left;}
	.bt{ overflow:hidden; margin:0 auto; width:530px; padding:10px 0;}
	.bt img{ float:left; overflow:hidden;padding-right:30px;}
	.bt h2{ color:#333333; font-size:26px; line-height:40px; padding-top:46px;}
	.bt b{ font-weight:normal; font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;color:#a3a2a2; font-size:18px; line-height:30px;}
.text1 p{ text-align:justify;color:#666666; font-size:14px; line-height:30px; text-indent:2em; padding-top:50px;}
.text1 .im1{ float:left; overflow:hidden; padding-left:50px; max-width:450px;}
.text1 .im2{ float:right; overflow:hidden; padding-right:50px; max-width:450px;}
/*服务介绍*/


/*明星技师*/
/*ban*/
.ban{ width:100%;height:400px; overflow:hidden; }
.ban img{ width:1920px; height:400px;}
/*ban*/

.text2{ width:960px; margin:0 auto; overflow:hidden; padding-left:20px;float:left;}
.text2 h2{ color:#333333; font-size:26px; line-height:40px; padding-top:10px; text-align:center;}
.text2 b{ font-weight:normal; font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;color:#a3a2a2; font-size:18px; line-height:30px; text-align:center; display:block;}
.text2 ul{overflow:hidden;}
.text2 li{ display:block; overflow:hidden; border-bottom:#dfdfdf 1px dashed; padding:10px 0;}
	.star_img{ border:#dcdcdc 1px solid;float:left; overflow:hidden;width:172px; height:240px;padding:4px;}
	.star_img img{max-width:172px; max-height:240px; margin:0 auto;}
	.star_list{ float:left; overflow:hidden; padding-left:60px;}
	.star_list h4{ font-weight:bold;font-size:18px; line-height:40px;color:#3a3a3a; margin-bottom:10px; margin-top:30px;}
	.star_list p{ font-size:14px; line-height:30px; color:#3a3a3a; width:705px; text-indent:28px;}
/*明星技师*/