/* CSS Document */

/*main*/
.main{}
	.guide{line-height:30px; color:#555555; font-size:14px; clear:both;}
	.guide a{color:#555555;}
	.guide a:hover{ text-decoration:underline;color:#bc0000;}
	.sub{ overflow:hidden; margin:50px 0;}
	.sub h2{ font-size:18px; padding:10px 0; background:url(../images/sucess.png) no-repeat 325px center; font-weight:bold; color:#333333; text-align:center;}
	.sub table{ margin:0 auto; width:800px; border:#c9c9c9 2px solid; overflow:hidden; margin-top:20px;}
	.sub table td{ border:#c9c9c9 1px solid; font-size:14px; color:#666666; line-height:45px; height:45px; padding-left:30px;}
	.sub table td a{ color:#aaaaaa;}
	.sub table td a:hover{ color:#c19a5f;}
/*main*/