@charset "utf-8";
/* CSS Document */
.weizhi{ width:1200px; font-size:14px; color:#666666; padding:10px 0; border-bottom:1px solid #dddddd; margin-bottom:10px;}
.weizhi a{ color:#666666;}
.weizhi a:hover{ color:#c40000; text-decoration:underline;}

.cleft{ float:left; width:230px; border:1px solid #dcdcdc; border-bottom:none;}
.cleft img{ display:block; width:210px; height:244px; margin:0 auto;}
.cleft ul li{ border-bottom:1px solid #dcdcdc; margin-top:15px; padding-bottom:10px;}
.cleft ul li p{ width:210px; margin:0 auto; overflow:hidden; margin-top:5px;}
.cleft ul li p a{ font-size:14px; color:#333333; line-height:24px;}
.cleft ul li p a:hover{ color:#000; text-decoration:underline;}
.cleft ul li p span{ float:right; font-size:16px; color:#e01f1f; font-weight:bold;}
.cright{ float:left; width:956px; border:1px solid #dcdcdc; margin-left:10px;}
.ctop{ border-bottom:1px solid #dcdcdc; height:30px; line-height:30px; padding-left:20px;}
.ctop p{ font-size:14px; color:#333;}
.ctop p span{ font-size:12px; color:#4585fb; margin-right:10px;}
.jieguo{ overflow:hidden; height:58px; line-height:58px; border-bottom:1px dashed #dcdcdc; padding-left:20px;}
.jieguo>span{ font-size:18px; color:#bf9d5b; font-weight:bold; float:left;}
.jieguo p{ font-size:14px; color:#666; float:left; margin-left:20px;}
.jieguo p span{ color:#bf9d5b;}

.list ul li{ overflow:hidden; border-bottom:1px dashed #dcdcdc; padding:15px;}
.list ul li:last-child{ border-bottom:none;}
.list ul li .zuo{ float:left;}
.list ul li .zuo img{ display:block; width:150px; height:150px;}
.list ul li .mid{ float:left; margin-left:32px; width:550px;}
.list ul li .you{ float:left; line-height:150px; font-size:20px; color:#eb0b0b; font-weight:bold;}
.list ul li .mid h4{ font-size:14px; color:#333; margin:20px 0; line-height:22px; font-weight:normal;}
.list ul li .mid .explain{ font-size:12px; color:#acabab; margin-bottom:5px;}
.list ul li .mid .xing img{ display:inline-block;}
.list ul li .mid .explain .xing{ margin-bottom:5px;}
.list ul li .mid .partake{ font-size:12px; color:#666;}
.list ul li .mid .partake span{ color:#3975fe; margin:0 2px;}
